*,
*::before,
*::after {
  box-sizing: inherit;
}

svg,
img {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

button:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  background-color: white;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  color: #252525;
}

/* #region Scrollbar*/
body,
html {
  scrollbar-color: #121212;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #121212;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* #endregion */

:root {
  --window-width: 375;
  --window-height: 500;

  --progressbar-size: calc(50 / 16 * 1rem);
  --progressbar-graph-color: #212121;
  --progressbar-graph-stroke-width: calc(5 / 16 * 1rem);
  --progressbar-caption-color: #212121;

  --check-item-bg: whitesmoke;

  --highlight-background: whitesmoke;

  --button-text-color: #212121;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #252525;
  }

  body {
    color: white;
  }

  :root {
    --progressbar-graph-color: white;
    --progressbar-caption-color: white;

    --check-item-bg-color: #212121;

    --highlight-background: #121212;

    --button-text-color: whitesmoke;
  }
}